#tululoogame {
    text-align: center;
}

#gameinstructions {
    text-align: center;
    font-size: 16px;
    color: white;
    margin-bottom: 4px; /* between paragraphs */
}

#gameinstructions p {
    margin: 0;
}

#gameinstructions h1 {
    color: yellow;
}


body {
    background-color: darkslategray;
}